@mixin text-overflow($width: 100px) {
  width: $width;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin line-clamp($line: 2) {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  line-clamp: $line;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@function rpx($value) {
  @return $value * 1rpx;
}

// 垂直水平居中
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 水平居中
@mixin flex-x-center {
  display: flex;
  justify-content: center;
}

// 垂直居中
@mixin flex-y-center {
  display: flex;
  align-items: center;
}

// 垂直布局
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// 垂直布局垂直水平居中
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// 垂直布局水平居中
@mixin flex-column-x-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// 垂直布局垂直居中
@mixin flex-column-y-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin bg($path) {
  background: url('https://pub.file.k12.vip/tbzw' + $path) no-repeat;
  background-size: 100%;
}

@mixin texiao {
  @include bg('/v2/like.png');
  box-sizing: border-box;
  background-size: 100%;
  text-align: center;
  position: absolute;
  left: 22px;
  bottom: 54px;
  width: 276px;
  height: 177px;
}

@mixin texiao-bg {
  color: #58422B;
  border-color: #f9e60b ;
  background: linear-gradient(90deg, #f9e60b 0%, #fddb55 100%);
}

@mixin texiao-icon {
  animation: myZan 1s;

  @keyframes myZan {
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}
